# Emacs
*~
\#*
.\#*

# Sublime Text 2
*.sublime-*

# Python
*.pyc
*.pyo
.coverage
.ropeproject
_trial_temp
.tox

# Build junk
.build/*
MANIFEST
dist/*
*.egg-info/*

# Sphinx
_build

# OS X
.DS_Store

# SQLite
*.sqlite
*.db

# Keys
*.pem
